<table>
     <tr>
	<td>
            <%= gravatar_for @parents %>
	</td>
	<td>
            <p>Name:<%= @parents.name %></p>
            <p>Telephone:<%= @parents.telephone %> </p>
             <p>Email:<%= @parents.email %> </p>
	</td>
     </tr>
 </table>